h5 {
    text-align: center;
    color: white;
}

p{
  color: white;
}

.char-name {
  color: yellow;
}

@media screen and (min-width: 1024px) {
      ul {
        text-align: center;
        font-size: 25px;
      }

      h5 {
        font-size: 30px;
        color: yellow;
      }

      
  }