body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: yellow;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  text-align: center;
}

.navlink {
  text-decoration: none;
  font-size: larger;
  color: white;
}
 .loading {
   text-align: center;
   margin: 300px auto;
   font-size: larger;
   color: white;
 }


 
@media screen and (min-width: 1024px) {
  body {
      background-image: url('starwars.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-color: black;
  }

  h1{
    font-size: 40px
  }
}
